<h4 class="text-center">My name is Anton Kulbida. I'm a beginner front-end developer. I want to present my works(some of my works)</h4>
<h5 class="text-center">Push any sites to show</h5>
<ul class="list-work">
	<li><a href="./markup-works/1-st page/index.html"><img src="./img/Mockup1.jpg" alt=""></a></li>
	<li><a href="./markup-works/2projeckt/index.html"><img src="./img/Mockup2.jpg" alt=""></a></li>
	<li><a href="./markup-works/3-rd page/index.html"><img src="./img/Mockup3.jpg" alt=""></a></li>
	<li><a href="./markup-works/4-th page/src/index.html"><img src="./img/Mockup4.jpg" alt=""></a></li>
</ul>

<a class="col-md-offset-5" ui-sref="work.author">Click to show github link on author profile:</a>
<div ui-view></div>