<!DOCTYPE html>
<html lang="en" ng-app="questApp">

<head>
    <meta http-equiv="charset-type" charset="UTF-8">
    <meta name="Fashion Clothers" content="clothers, fashion, clother&fashion, fashon, moda 2017, clothers 2016, wear, best clother 2016, magazine">
    <meta name="author" content="Kulbida Anton" />
    <meta name="esource-type" content="Document" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="1 days" />
    <meta name="description" content="Clothers" />
    <meta http-equiv="content-language" content="en" />
    <title>Fashion&Clothers</title>
    <link rel="shortcut icon" href="img/Clothes.png" type="image/png">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mainmenu.css">
    <link rel="stylesheet" href="css/burger.min.css">
    <link rel="stylesheet" href="css/flickity/flickityfooter.css">
    <link rel="stylesheet" href="css/flickity/flickitymain.css">
    <link rel="stylesheet" href="css/flickity/flickitymiddle.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="js/bigslider/css/slick-style.css">
    <link rel="stylesheet" href="js/bigslider/slick/slick.css">
    <link rel="stylesheet" href="js/bigslider/slick/slick-theme.css">
    <link rel="stylesheet" href="js/topslider/css/slick-style.css">
    <link rel="stylesheet" href="js/topslider/slick/slick.css">
    <link rel="stylesheet" href="js/topslider/slick/slick-theme.css">
    <script src="./js/burger.js"></script>
    <script src="./js/flickity/flickity.pkgdfooter.js"></script>
    <script src="./js/flickity/flickity.pkgdmain.js"></script>
    <script src="./js/flickity/flickity.pkgdmiddle.js"></script>
    <link rel="stylesheet" href="css/lib/gridly.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/lib/gridly-col-widths.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/media.css">
    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <link href="css/modal.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="angular/app/css/mystyles.css" />
</head>

<body>
    <header>
        <div class="wow bounceInRight header" data-wow-duration="1s">
            <div class="header-container">
                <div id="menu-container">
                    <div id="menu-wrapper">
                        <div id="hamburger-menu"><span></span><span></span><span></span></div>
                        <!-- hamburger-menu -->
                    </div>
                    <nav>
                        <!-- menu-wrapper -->
                        <ul class="menu-list accordion">
                            <form method="post" action="#" class="form">
                                <div class="find">
                                    <label for="text">
                                        <input type="text" name="name" placeholder="O QUE ESTÁ PROCURANDO?">
                                    </label>
                                </div>
                                <div class="found">
                                    <label>
                                        <i class="fa fa-search" type="submit" aria-hidden="true"></i>
                                    </label>
                                </div>
                            </form>
                            <li id="nav1" class="toggle accordion-toggle">
                                <span class="icon-plus"></span>
                                <p class="menu-link" href="#">SOBRE</p>
                            </li>
                            <!-- accordion-toggle -->
                            <ul class="menu-submenu accordion-content">
                                <li><a class="head" href="#">Submenu1</a></li>
                                <li><a class="head" href="#">Submenu2</a></li>
                                <li><a class="head" href="#">Submenu3</a></li>
                            </ul>
                            <!-- menu-submenu accordon-content-->
                            <li id="nav2" class="toggle accordion-toggle">
                                <span class="icon-plus"></span>
                                <p class="menu-link" href="#">COLECOES</p>
                            </li>
                            <!-- accordion-toggle -->
                            <ul class="menu-submenu accordion-content">
                                <li><a class="head" href="#">Submenu1</a></li>
                                <li><a class="head" href="#">Submenu2</a></li>
                            </ul>
                            <!-- menu-submenu accordon-content-->
                            <li id="nav3" class="toggle accordion-toggle">
                                <span class="icon-plus"></span>
                                <p class="menu-link" href="#">CATEGORIES</p>
                            </li>
                            <!-- accordion-toggle -->
                            <ul class="menu-submenu accordion-content">
                                <li><a class="head" href="#">Categoria</a></li>
                                <li><a class="head" href="#">Categoria</a></li>
                                <li><a class="head" href="#">Categoria</a></li>
                                <li><a class="head" href="#">Categoria</a></li>
                            </ul>
                            <li id="nav4" class="toggle accordion-toggle">
                                <span class="icon-plus"></span>
                                <p class="menu-link" href="#">LOOKS</p>
                            </li>
                            <!-- accordion-toggle -->
                            <ul class="menu-submenu accordion-content">
                                <li><a class="head" href="#">Submenu1</a></li>
                                <li><a class="head" href="#">Submenu2</a></li>
                            </ul>
                            <li id="nav2" class="toggle accordion-toggle">
                                <span class="icon-plus"></span>
                                <p class="menu-link" href="#">CONTATO</p>
                            </li>
                            <!-- accordion-toggle -->
                            <ul class="menu-submenu accordion-content">
                                <li><a class="head" href="#">Submenu1</a></li>
                                <li><a class="head" href="#">Submenu2</a></li>
                            </ul>
                            <!-- menu-submenu accordon-content-->
                        </ul>
                    </nav>
                    <!-- menu-list accordion-->
                </div>
                <div class="cloth-block">
                    <ul>
                        <li><a href="#">CLOTH & FASION</a></li>
                        <li>
                            <!-- <a href="#" class="login">LOGIN</a> -->
                            <div class="main12">
                                <div class="panel">
                                    <a href="#login_form" id="login_pop">LOGIN {{name}}</a>
                                </div>
                            </div>
                            <a href="#x" class="overlay" id="login_form"></a>
                            <div class="popup" >
                                <p>AVTORIZATION PLEASE:</p>
                                <div>
                                    <label for="login">Login</label>
                                    <input type="text" id="login" value="" ng-model="name"/>
                                </div>
                                <div>
                                    <label for="password">Password</label>
                                    <input type="password" id="password" value="" />
                                </div>
                                <input  type="button" value="GO">
                                <a class="close" href="#login"></a>
                            </div>
                        </li>
                        <li>
                            <!-- <img src="img/logotype.png" alt=""> -->
                            <div class="top-bottom-login">
                                <a class="go-menu-basket" href="#"><img src="img/logotype.png" alt="" /></a>
                                <div class="menu-basket">
                                    <div class="menu-basket-header">
                                        <span>MEU CARRINHO</span>
                                    </div>
                                    <div class="menu-basket-items" >
                                        <div class="menu-basket-item" id='hideme'>
                                            <div class="img-bg-basket-item">
                                            </div>
                                            <div class="plus-sun-price" >
                                                <span >Nome do Produto</span>
                                                <a href=""><img src="img/black-square.png" /></a>
                                                    <div ng-controller="QuestionController">
                                                        <div answer-list>
                                                            <div ng-repeat='answer in question.answers' class='answer'>
                                                                <div class="minus-rice-plus vote">
                                                                    <a href="" class='vote-up' ng-click='voteUp(answer)'><img src="img/minus.png" /></a>
                                                                    <div class="price">{{answer.rate}}</div>
                                                                    <span class='rate'></span>
                                                                    <a href="" class='vote-down' ng-click='voteDown(answer)'><img src="img/plus.png" /></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script src="angularjs/app/js/lib/angular.min.js"></script>
                                                    <script src="angularjs/app/js/app.js"></script>
                                                    <script src="angularjs/app/js/controllers/QuestionController.js"></script>
<!--                                                 <div class="minus-rice-plus">
                                                    <a href=""><img src="img/minus.png" /></a>
                                                    <div class="price">88</div>
                                                    <a href=""><img src="img/plus.png" /></a>
                                                </div> -->
                                            </div>
                                            <div class="cross-rs">
                                                <a href="" ><img src="img/Crest-2.png"  onClick="hide('hideme')"/></a>
                                                <span>R$88,88</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="menu-basket-conqlusion">
                                        <h3>TOTAL</h3>
                                        <span>R$88,88</span>
                                    </div>
                                    <div class="menu-basket-bottom">
                                        <div class="menu-basket-bottom-text-left">
                                            <span>CONTINUAR COMPRANDO</span>
                                        </div>
                                        <div class="menu-basket-bottom-text-right">
                                            <span>CHECKOUT</span>
                                            <a href=""><img src="img/mini-arrow-right.png" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="js/bigslider">
        <div class="container films">
            <!-- <div class="main"> -->
            <section>
                <div class="sl">
                    <div class="sl__slide">
                        <div class="sl__text">
                            <h4 class="sl__zag">FRETE GRÁTIS PARA COMPRAS ACIMA DE R$300,00</h4>
                        </div>
                    </div>
                    <div class="sl__slide">
                        <div class="sl__text">
                            <h4 class="sl__zag">FRETE GRÁTIS PARA COMPRAS ACIMA DE R$300,00</h4>
                        </div>
                    </div>
                    <div class="sl__slide">
                        <div class="sl__text">
                            <h4 class="sl__zag">FRETE GRÁTIS PARA COMPRAS ACIMA DE R$300,00</h4>
                        </div>
                    </div>
                </div>
            </section>
            <script src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
            <script src="js/bigslider/slick/slick.js"></script>
            <script src="js/bigslider/js/js.js"></script>
            <script src="js/burger.min.js"></script>
            <section>
                <div class="main-big-slider">
                    <div class="big-slider">
                        <div class="main">
                            <div class="sl3">
                                <div class="sl3__slide">
                                    <img src="img/main-man.JPG" alt="" class="sl3__img" images="">
                                    <div class="sl3__text wow swing">
                                        <h3 class="sl3__zag">C&F CLOSING</h3>
                                        <!-- <hr> -->
                                        <h4>SPORTS & LIFESTYLE</h4>
                                        <h2 class="wow fadeInUpBig" data-wow-duration="1.5s"><a href="#">CONFIRA</a></h2>
                                    </div>
                                </div>
                                <div class="sl3__slide">
                                    <img src="img/main-man.JPG" alt="" class="sl3__img" images="">
                                    <div class="sl3__text">
                                        <h3 class="sl3__zag">C&F CLOSING</h3>
                                        <!-- <hr> -->
                                        <h4>SPORTS & LIFESTYLE</h4>
                                        <h2><a href="#">CONFIRA</a></h2>
                                    </div>
                                </div>
                                <div class="sl3__slide">
                                    <img src="img/main-man.JPG" alt="" class="sl3__img" images="">
                                    <div class="sl3__text">
                                        <h3 class="sl3__zag">C&F CLOSING</h3>
                                        <!-- <hr> -->
                                        <h4>SPORTS & LIFESTYLE</h4>
                                        <h2><a href="#">CONFIRA</a></h2>
                                    </div>
                                </div>
                                <div class="sl3__slide">
                                    <img src="img/main-man.JPG" alt="" class="sl3__img" images="">
                                    <div class="sl3__text">
                                        <h3 class="sl3__zag">C&F CLOSING</h3>
                                        <!-- <hr> -->
                                        <h4>SPORTS & LIFESTYLE</h4>
                                        <h2><a href="#">CONFIRA</a></h2>
                                    </div>
                                </div>
                                <div class="sl3__slide">
                                    <img src="img/main-man.JPG" alt="" class="sl3__img" images="">
                                    <div class="sl3__text">
                                        <h3 class="sl3__zag">C&F CLOSING</h3>
                                        <!-- <hr> -->
                                        <h4>SPORTS & LIFESTYLE</h4>
                                        <h2><a href="#">CONFIRA</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Конец кода -->
                        <!-- Подключаем скрипты -->
                        <script src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
                        <script src="js/topslider/slick/slick.js"></script>
                        <script src="js/topslider/js/js.js"></script>
                    </div>
                </div>
            </section>
            <section>
                <div class="produtos-em-destaque-block wow swing" data-wow-duration="">
                    <div class="produtos-em-destaque">
                        <ul>
                            <li><img src="img/seta-left.png" alt="arrow"></li>
                            <li>produtos em destaque</li>
                            <li><img src="img/seta-right.png" alt="arrow"></li>
                        </ul>
                        <div class="gallery js-flickitymain wow fadeInUp" data-flickitymain-options='{ "wrapAround": true }'>
                            <div class="gallery-cell ">
                                <div class="ribbon_flag">20 %</div><img src="img/mans-look1.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look2.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell"><img src="img/mans-look2.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look2.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell">
                                <div class="ribbon_flag">20 %</div><img src="img/mans-look3.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look6-6.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell"><img src="img/mans-look4.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look2.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell"><img src="img/mans-look6.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look3.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell">
                                <div class="ribbon_flag">20 %</div><img src="img/mans-look1.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look2.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell"><img src="img/mans-look5.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look2.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell">
                                <div class="ribbon_flag">20 %</div><img src="img/mans-look1.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look2.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell"><img src="img/mans-look6.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look6-6.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                            <div class="gallery-cell">
                                <div class="ribbon_flag">20 %</div><img src="img/mans-look3.jpg" alt="">
                                <div class="hover-text"><img src="img/mans-look6.jpg" alt="">COMPRAR</div>
                                <p>R$88,88</p>
                                <p>R$78,88</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="main-middle-block wow bounceIn" data-wow-duration="2s">
                    <div class="middle-block">
                        <img src="img/icon-divisoria.png" alt="Icon">
                        <div class="fixed-bag">
                            <section class="demo">
                                <div class="row">
                                    <div class="col col-half">
                                        <div class="jaquets wow  flipInX">
                                            <div class="content"><img src="img/jaquetas.jpg" alt="">
                                                <p>jaquetas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-half">
                                        <div class="shorts wow  flipInX">
                                            <div class="content"><img src="img/shorts.jpg" alt="">
                                                <p>shorts</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="corta-vento wow  flipInX">
                                            <div class="content"><img class="corta-vento" src="img/corta-vento.jpg" alt="">
                                                <p>corta vento</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-third">
                                        <div class="camisas">
                                            <div class="content wow  flipInX"><img src="img/camisas.jpg" alt="" class="camisas">
                                                <p>camisas</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-third">
                                        <div class="calcas wow  flipInX">
                                            <div class="content"><img src="img/calcas.jpg" alt="" class="calcas">
                                                <p>calcas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="camisetas">
                                            <div class="content wow  flipInX"><img src="img/camisetas.jpg" alt="" class="camisetas">
                                                <p>camisetas</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="galeria-do-instagram-block wow fadeInLeft">
                    <div class="galeria-do-instagram">
                        <ul>
                            <li><img src="img/seta-left.png" alt="arrow"></li>
                            <li>GALERIA DO INSTAGRAM</li>
                            <li><img src="img/seta-right.png" alt="arrow"></li>
                        </ul>
                        <div class="gallery js-flickitymiddle" data-flickitymiddle-options='{ "wrapAround": true }'>
                            <div class="gallery-cell wow rollIn"><img src="img/instagram1.jpg" alt="">
                                <div class="hover-text">
                                    <p><i class="fa fa-heart" aria-hidden="true"></i>
                                        <br>1,322 likes</p>
                                </div>
                            </div>
                            <div class="gallery-cell rollIn"><img src="img/instagram2.jpg" alt="">
                                <div class="hover-text">
                                    <p><i class="fa fa-heart" aria-hidden="true"></i>
                                        <br>1,925 likes</p>
                                </div>
                            </div>
                            <div class="gallery-cell rollIn"><img src="img/instagram5.jpg" alt="">
                                <div class="hover-text">
                                    <p><i class="fa fa-heart" aria-hidden="true"></i>
                                        <br>0,957 likes</p>
                                </div>
                            </div>
                            <div class="gallery-cell rollIn"><img src="img/instagram1.jpg" alt="">
                                <div class="hover-text">
                                    <p><i class="fa fa-heart" aria-hidden="true"></i>
                                        <br>0,957 likes</p>
                                </div>
                            </div>
                            <div class="gallery-cell rollIn"><img src="img/instagram3.jpg" alt="">
                                <div class="hover-text">
                                    <p><i class="fa fa-heart" aria-hidden="true"></i>
                                        <br>1,801 likes</p>
                                </div>
                            </div>
                            <div class="gallery-cell rollIn"><img src="img/instagram5.jpg" alt="">
                                <div class="hover-text">
                                    <p><i class="fa fa-heart" aria-hidden="true"></i>
                                        <br>2.098 likes</p>
                                </div>
                            </div>
                            <div class="gallery-cell rollIn"><img src="img/instagram4.jpg" alt="">
                                <div class="hover-text">
                                    <p><i class="fa fa-heart" aria-hidden="true"></i>
                                        <br>1,522 likes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="quem-usa-block wow fadeInRight">
                    <div class="quem-usa">
                        <ul>
                            <li><img src="img/seta-left.png" alt="arrow"></li>
                            <li>QUEM USA</li>
                            <li><img src="img/seta-right.png" alt="arrow"></li>
                        </ul>
                        <div class="gallery js-flickityfooter" data-flickityfooter-options='{ "wrapAround": true }'>
                            <div class="gallery-cell"><img src="img/usa1.jpg" alt="">
                                <div class="hover-text">
                                    <p>David Duetta</p>
                                </div>
                            </div>
                            <div class="gallery-cell"><img src="img/usa2.jpg" alt="">
                                <div class="hover-text">
                                    <p>Tree Guys</p>
                                </div>
                            </div>
                            <div class="gallery-cell"><img src="img/usa3.jpg" alt="">
                                <div class="hover-text">
                                    <p>Pray</p>
                                </div>
                            </div>
                            <div class="gallery-cell"><img src="img/usa1.jpg" alt="">
                                <div class="hover-text">
                                    <p>David Duetta</p>
                                </div>
                            </div>
                            <div class="gallery-cell"><img src="img/usa4.jpg" alt="">
                                <div class="hover-text">
                                    <p>Forgive</p>
                                </div>
                            </div>
                            <div class="gallery-cell"><img src="img/usa2.jpg" alt="">
                                <div class="hover-text">
                                    <p>David Duetta</p>
                                </div>
                            </div>
                            <div class="gallery-cell"><img src="img/usa4.jpg" alt="">
                                <div class="hover-text">
                                    <p>Forgive</p>
                                </div>
                            </div>
                            <div class="gallery-cell"><img src="img/usa2.jpg" alt="">
                                <div class="hover-text">
                                    <p>David Duetta</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="footer-block wow wobble">
                    <div class="footer">
                        <ul>
                            <form method="post" action="#">
                                <li>
                                    <div class="news">
                                        <p>NEWSLETTER</p><b></b>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">
                                        <label for="text">
                                            <input type="text" name="name" placeholder="NOME">
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="mail">
                                        <label for="email-field">
                                            <input type="email" name="email" id="email-field" placeholder="ENDERECO DE EMAIL">
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="submit">
                                        <label>
                                            <input type="submit" value="CADASTAR" name="enter">
                                        </label>
                                    </div>
                                </li>
                            </form>
                        </ul>
                        <p style="clear: both"></p>
                    </div>
                </div>
            </footer>
            <div class="bottom-block">
                <div class=" bottom ">
                    <ul>
                        <li><a href="#">SOBRE</a></li>
                        <li><a href="#">CONTATO</a></li>
                        <li><a href="#">TERMOS & CONDITICOES</a></li>
                        <li><a href="#"> POLITICA DE PRIVACIDATE</a></li>
                    </ul>
                    <div class="icon-block">
                        <ul>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <p style="clear: both;"></p>
                </div>
            </div>
            <script src="js/wow.js"></script>
            <script>
            wow = new WOW({
                animateClass: 'animated',
                offset: 100,
                callback: function(box) {
                    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
                }
            });
            wow.init();
            </script>
             <script>
                       function hide(obj) {
                var el = document.getElementById(obj);
                    el.style.display = 'none';
}
                                            </script>
            <script type="text/javascript" src="js/jquery.min.js"></script>
            <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
