// * {
//   margin: 0;
//   padding: 0;
//   outline: none;

//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//    box-sizing: border-box;
// }
*{
  font-family: "Rajdhani Bold";
}


.top-container{
  display: flex;
  height: 100%;
  width: 295px;
}

.top-bottom{
  display: flex;
  justify-content: space-around;
  height: 50px;
  background-color: #000;
}

.top-bottom-login{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}



.top-bottom-menu-gamburger{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-bottom-text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bottom-text p{
  font-family: "Rajdhani Bold";
  font-size: 30px;
  padding-top: 5px;
  color: white;
}

