// @charset 'UTF-8';
// /* Slider */
// .slick-loading .slick-list
// {
//     background: #fff url('./ajax-loader.gif') center center no-repeat;
// }

// /* Icons */
// @font-face
// {
//     font-family: 'slick';
//     font-weight: normal;
//     font-style: normal;

//     src: url('./fonts/slick.eot');
//     src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
// }
/* Arrows */
.slick-prev6,
.slick-next6
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 25px;
    height: 25px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev6:hover,
.slick-prev6:focus,
.slick-next6:hover,
.slick-next6:focus
{
    color: transparent;
    outline: none;
}
.slick-prev6:hover:before,
.slick-prev6:focus:before,
.slick-next6:hover:before,
.slick-next6:focus:before
{
    opacity: 1;
}
.slick-prev6.slick-disabled:before,
.slick-next6.slick-disabled:before
{
    opacity: 1;
}

.slick-prev6:before,
.slick-next6:before
{
    font-family: 'slick';
    font-size: 32px;
    line-height: 1;

    opacity: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev6
{
    left: 20px;
	z-index: 1001;
	background: #00cf6b;
	height: 60px;
	width: 40px;
	opacity: .75;
	border-radius: 5px;
}
[dir='rtl'] .slick-prev6
{
    right: -25px;
    left: auto;
}
.slick-prev6:before
{
    content: '←';
}
[dir='rtl'] .slick-prev6:before
{
    content: '→';
}

.slick-next6
{
    right: 0;
	z-index: 1001;
	background: #00cf6b;
	height: 60px;
	width: 40px;
	opacity: .75;
	border-radius: 5px;
}
[dir='rtl'] .slick-next6
{
    right: auto;
    left: -25px;
}
.slick-next6:before
{
    content: '→';
}
[dir='rtl'] .slick-next6:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots6
{
    position: absolute;
    bottom: 40px;
	left: 4px;

    display: block;
    width: 100%;
    padding: 0;
    margin: 0 !important;

    list-style: none;

    text-align: center;
	
}
.slick-dots6 li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 0px;
    padding: 0 !important;

    cursor: pointer;
}
.slick-dots6 li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
	border: 1px solid white;
    border-radius: 50%;
    outline: none;
	content: none;
    background: white;
}
.slick-dots6 li button:hover,
.slick-dots6 li button:focus
{
    outline: none;
	
}
.slick-dots6 li button:hover:before,
.slick-dots6 li button:focus:before
{
    opacity: 1;
}
.slick-dots6 li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    content: '•';
    text-align: center;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots6 li.slick-active button:before
{
	border: 1px solid #8e8181;
	border-radius: 50%; 
	background: #8e8181;
}
