@font-face {
  font-family: "Gotham";
  font-weight: normal;
  font-style: normal;
  src: url("../font/Gotham Black Regular.ttf");
}
@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  src: url("../font/Helvetica Bold.ttf");
}
@font-face {
  font-family: "Trebuchet";
  font-weight: normal;
  font-style: normal;
  src: url("../font/Trebuchet.ttf");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
a {
  color: #fff;
}
.top-wrapper {
  width: 100%;
  background-image: url(../img/top-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  font-family: sans-serif;
}
.top-wrapper .top-size {
  width: 82.5%;
  max-width: 1100px;
  margin: 0 auto;
}
.top-wrapper .top-size .top-menu .logo {
  margin-top: 10px;
  float: left;
}
.top-wrapper .top-size .top-menu .top-nav-site {
  float: right;
  color: white;
}
.top-wrapper .top-size .top-menu .top-nav-site ul {
  padding-top: 20px;
  font-family: "Trebuchet", sans-serif;
  font-weight: bold;
}
.top-wrapper .top-size .top-menu .top-nav-site ul li {
  list-style: disc;
  font-size: 13px;
  margin-left: 30px;
  float: left;
}
.top-wrapper .top-size .top-menu .top-nav-site ul li a:hover {
  color: #07995d;
}
.top-wrapper .top-size .top-menu .top-nav-site .top-button {
  margin-top: 20px;
  margin-left: 120px;
}
.top-wrapper .top-size .top-menu .top-nav-site .top-button li {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.top-wrapper .top-size .top-menu .top-nav-site .top-button li h3 {
  padding-top: 2px;
  font-size: 24px;
  font-family: "Gotham", sans-serif;
}
.green-section {
  position: relative;
  top: -50px;
  width: 100%;
  background-size: cover;
  background-image: url(../img/back-nav2.png);
  height: 60px;
}
.green-section .drop-menu {
  font-family: "Trebuchet", sans-serif;
}
.green-section .drop-menu #container {
  position: absolute;
  top: 2px;
  width: 60%;
  margin: 0 auto;
  right: 120px;
}
.middle-section {
  background-image: url(../img/middle-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: -50px;
  height: auto;
}
.middle-section .content-section {
  width: 82.5%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 0px;
}
.middle-section .content-section ul li {
  float: left;
  margin-left: 25px;
  list-style: disc;
  color: #898989;
}
.middle-section .content-section ul li a {
  color: #898989;
}
.middle-section .content-section ul li a:hover {
  color: #07995d;
}
.middle-section .big-centr-content {
  width: 82.5%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  box-shadow: 0px 0px 2px 2px #e9e9e9;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen {
  width: 55%;
  float: left;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen img {
  width: 88%;
  padding: 40px 10px 10px 30px;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight {
  height: 270px;
  background-image: url(../img/slim-girl.jpg);
  background-size: cover;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight h3 {
  padding: 15px 0 5px 250px;
  text-transform: uppercase;
  width: 60%;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Gotham", sans-serif;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight h3 a {
  color: #23845d;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight h3 a:hover {
  color: #7c5878;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight p {
  padding-left: 250px;
  font-size: 14px;
  width: 50%;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #7c5878;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight ul {
  padding: 15px 0 5px 350px;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight ul li {
  margin-top: 5px;
}
.middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight ul li img {
  width: 60%;
  height: auto;
  margin: 0;
  padding: 0;
}
.middle-section .big-centr-content .centr-content .fat-man {
  float: left;
  width: 23%;
  height: 350px;
  background-image: url(../img/fat-man.jpg);
  background-size: cover;
  border-radius: 10px;
  margin-top: 10px;
}
.middle-section .big-centr-content .centr-content .fat-man .mr-deen {
  background-image: url(../img/mr-deen.png);
  background-size: cover;
  position: relative;
  z-index: 2;
  right: -110px;
  top: -26px;
  width: 406px;
  height: 573px;
}
.middle-section .big-centr-content .centr-content .fat-man .mr-deen h1 {
  font-size: 60px;
  color: #fcc600;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  float: left;
  margin-top: 485px;
  margin-left: 110px;
}
.middle-section .big-centr-content .centr-content .fat-man .mr-deen ul {
  text-align: left;
  padding: 7px 10px;
  color: #fff;
  font-weight: bold;
  padding-top: 487px;
}
.middle-section .big-centr-content .centr-content .fat-man .mr-deen p {
  clear: both;
  margin-left: 110px;
}
.middle-section .big-centr-content .centr-content .fat-man .mr-deen p a {
  color: #fcc600;
  text-decoration: underline;
}
.middle-section .big-centr-content .centr-content .slider {
  margin-bottom: -50px;
}
.middle-section .big-centr-content .centr-content .slider h6 {
  position: relative;
  top: -30px;
  left: 600px;
  width: 15%;
  border: 1px solid;
  background-color: #252525;
  color: #fff;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  font-family: "Gotham", sans-serif;
}
.middle-section .big-centr-content .centr-content .slider h3 {
  position: relative;
  top: -65px;
  left: 610px;
  width: 14%;
  border: 1px solid;
  background-color: #252525;
  color: #fcc600;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  font-family: "Gotham", sans-serif;
  border: none;
}
.middle-section .big-centr-content .centr-content .challenge .text-after-slider {
  float: left;
  padding: 0 0 20px 40px;
  margin-top: -20px;
}
.middle-section .big-centr-content .centr-content .challenge .text-after-slider h1 {
  color: #097749;
  font-weight: bold;
  font-size: 24px;
  font-family: "Gotham", sans-serif;
}
.middle-section .big-centr-content .centr-content .challenge .text-after-slider h1 a {
  color: #1ab374;
  text-decoration: underline;
  transition: .5s;
}
.middle-section .big-centr-content .centr-content .challenge .text-after-slider h1 a:hover {
  opacity: .5;
}
.middle-section .big-centr-content .centr-content .challenge .text-after-slider2 {
  float: right;
  padding-right: 80px;
  margin-top: -20px;
}
.middle-section .big-centr-content .centr-content .challenge .text-after-slider2 h1 {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #252525;
}
.middle-section .big-centr-content .centr-content .challenge .text-after-slider2 h1 a {
  color: #1ab374;
  text-decoration: underline;
  transition: .5s;
}
.middle-section .big-centr-content .centr-content .challenge .text-after-slider2 h1 a:hover {
  opacity: .5;
}
.middle-section .big-centr-content .left-block {
  float: left;
  margin-bottom: 70px;
}
.middle-section .big-centr-content .left-block .container {
  margin: 10px 0 10px 20px;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px #e9e9e9;
}
.middle-section .big-centr-content .left-block .container h2 {
  padding: 20px 15px 10px 20px;
  font-size: 18px;
  font-weight: bolder;
  color: #636363;
}
.middle-section .big-centr-content .left-block .container .statistic ul {
  margin-left: 15px;
}
.middle-section .big-centr-content .left-block .container .statistic ul li {
  display: inline-block;
  font-family: "Gotham", sans-serif;
  color: #6d6d6d;
  font-size: 17px;
}
.middle-section .big-centr-content .left-block .container .statistic ul li a {
  color: #5c987a;
  font-family: "Trebuchet", sans-serif;
  font-size: 14px;
  padding: 0 20px;
}
.middle-section .big-centr-content .left-block .container .statistic ul li a:hover {
  text-decoration: line-through;
}
.middle-section .big-centr-content .left-block .container .accordion h4 a {
  color: #5c987a;
  font-family: "Trebuchet", sans-serif;
  font-size: 14px;
  padding: 0 20px;
}
.middle-section .big-centr-content .left-block .container .accordion h4 a:hover {
  text-decoration: underline;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt {
  padding: 10px;
  background-color: #fff;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a {
  text-align: left;
  box-shadow: 0px 0px 2px 2px #e9e9e9;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #14b371;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a:hover {
  box-shadow: inset 0px -30px 40px rgba(114, 114, 114, 0.1);
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a img {
  float: left;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a ul {
  margin-left: 10px;
  float: left;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a ul li h3 {
  padding-top: 2px;
  color: #097749;
  font-weight: 600;
  font-size: 14px;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a ul li h3 b {
  font-weight: 600;
  font-size: 10px;
  color: #7a7a7a;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a ul li p {
  padding-top: 3px;
  color: #7a7a7a;
  font-size: 12px;
  float: left;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a ul li h5 {
  padding-top: 3px;
  color: #7a7a7a;
  font-weight: 100;
  font-size: 14px;
  float: left;
}
.middle-section .big-centr-content .left-block .container .accordion dl dt a h4 {
  margin-left: 290px;
  font-family: "Gotham", sans-serif;
  font-size: 40px;
  color: #097749;
}
.middle-section .big-centr-content .left-block .container .accordion dl .accordion-content {
  background-color: #fff;
}
.middle-section .big-centr-content .left-block .container .accordion dl .accordion-content ul {
  margin: 10px;
}
.middle-section .big-centr-content .left-block .container .accordion dl .accordion-content ul li {
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}
.middle-section .big-centr-content .left-block .container .accordion dl .accordion-content ul li a {
  color: #097749;
  font-weight: bold;
}
.middle-section .big-centr-content .left-block .container .accordion dl .accordion-content ul li a:hover {
  color: #636363;
}
.middle-section .big-centr-content .left-block .text-after-acc {
  width: 100%;
}
.middle-section .big-centr-content .left-block .text-after-acc h1 {
  font-family: "Gotham", sans-serif;
  color: #636363;
  margin: 15px;
  padding-left: 25px;
  font-size: 24px;
  width: 70%;
  line-height: 26px;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord {
  float: left;
  width: 250px;
  font-family: sans-serif;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord h4 {
  padding-left: 40px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  width: 250px;
  color: #2e835b;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord h5 {
  padding-left: 40px;
  font-size: 12px;
  width: 350px;
  color: #6e6e6e;
  font-weight: 600;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord p {
  padding: 3px 0 0 40px;
  font-size: 12px;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord2 {
  float: left;
  width: 250px;
  font-family: sans-serif;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord2 h1 {
  font-family: "Gotham", sans-serif;
  color: #636363;
  margin: 15px;
  padding-left: 25px;
  font-size: 24px;
  width: 50%;
  line-height: 26px;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord2 h4 {
  padding-left: 40px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  width: 250px;
  color: #2e835b;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord2 h5 {
  padding-left: 40px;
  font-size: 12px;
  width: 80%;
  color: #6e6e6e;
  font-weight: 600;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord2 p {
  padding: 3px 0 0 40px;
  font-size: 12px;
}
.middle-section .big-centr-content .left-block .text-after-acc .under-accord2 p a {
  color: #097749;
  text-decoration: underline;
}
.middle-section .big-centr-content .centr-right-block {
  font-family: sans-serif;
  float: left;
  width: 45%;
  padding: 10px 32px;
}
.middle-section .big-centr-content .centr-right-block .big-text {
  font-family: "Gotham", sans-serif;
  padding: 30px 10px;
  background-color: #ebebeb;
  border-radius: 10px;
}
.middle-section .big-centr-content .centr-right-block .big-text h1 {
  text-align: center;
  width: 98%;
  font-size: 16px;
  font-weight: bolder;
  color: #898989;
  margin-left: 10px;
}
.middle-section .big-centr-content .centr-right-block h1 {
  font-family: "Gotham", sans-serif;
  color: #636363;
  font-size: 18px;
}
.middle-section .big-centr-content .centr-right-block .box-sl {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  width: 100%;
  height: 240px;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide {
  outline: none;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide img {
  margin-left: 40px;
  margin-right: 20px;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide h3 {
  margin-top: 10px;
  width: 85%;
  font-size: 18px;
  color: #5f5f5f;
  font-weight: bold;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide h3 a {
  color: #2f8b65;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide h3 a:hover {
  text-decoration: underline;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide h4 {
  margin-top: 10px;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide h4 a {
  color: #2f8b65;
  font-size: 18px;
  font-weight: bold;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide h4 a:hover {
  text-decoration: underline;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide p {
  margin-top: 10px;
  width: 85%;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide p a {
  color: #2f8b65;
  font-size: 18px;
  font-weight: bold;
}
.middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide p a:hover {
  text-decoration: underline;
}
.middle-section .big-centr-content .centr-right-block .after-right-slider {
  margin: 20px 10px 20px 5px;
}
.middle-section .big-centr-content .centr-right-block .after-right-slider h2 {
  font-family: "Gotham", sans-serif;
  font-size: 18px;
  color: #636363;
}
.middle-section .big-centr-content .centr-right-block .after-right-slider h2 a {
  color: #097749;
  padding-left: 10px;
  text-decoration: underline;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
}
.middle-section .big-centr-content .centr-right-block .local-event {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #f7f7f7;
  width: 100%;
  margin-bottom: 20px;
}
.middle-section .big-centr-content .centr-right-block .local-event .date {
  float: left;
  color: #898989;
  font-size: 18px;
  width: 50px;
  text-align: center;
  border-right: 2px solid #e8e8e8;
  padding: 5px;
}
.middle-section .big-centr-content .centr-right-block .local-event .date-info {
  padding: 5px;
}
.middle-section .big-centr-content .centr-right-block .local-event .date-info a {
  color: #097749;
  font-size: 18px;
  cursor: pointer;
  padding-left: 10px;
}
.middle-section .big-centr-content .centr-right-block .local-event .date-info a:hover {
  text-decoration: underline;
}
.middle-section .big-centr-content .centr-right-block .local-event .date-info p {
  padding-top: 5px;
  color: #898989;
  font-size: 15px;
  margin-left: 65px;
}
.middle-section .big-centr-content .centr-right-block .under-event-text {
  width: 100%;
  text-align: right;
  margin-left: -20px;
}
.middle-section .big-centr-content .centr-right-block .under-event-text a {
  color: #097749;
  text-decoration: underline;
  font-size: 12px;
  font-weight: bold;
}
.middle-section .big-centr-content .centr-right-block .under-event-text a:hover {
  cursor: pointer;
}
.footer {
  width: 100%;
  height: auto;
  background-image: url(../img/top-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Arial", sans-serif;
  padding-bottom: 20px;
}
.footer ul {
  width: 82.5%;
  max-width: 1100px;
  margin: 0 auto;
}
.footer ul li {
  margin-top: 15px;
  margin-left: 35px;
  float: left;
  list-style: disc;
  color: #fff;
  font-weight: 600;
}
.footer ul li a {
  font-size: 12px;
}
.footer ul li a:hover {
  color: #ffbd00;
}
.footer p {
  padding-left: 35px;
  padding-top: 15px;
  color: #fff;
  font-size: 12px;
  clear: both;
  width: 82.5%;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (min-width: 1128px) and (max-width: 1327px) {
  .green-section {
    height: 50px;
  }
  .green-section .drop-menu {
    font-family: sans-serif;
  }
  .green-section .drop-menu #container {
    position: absolute;
    top: 0px;
    width: 69%;
    right: 10px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight h3 {
    width: 45%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen {
    right: -70%;
    top: -24px;
    width: 286px;
    height: 423px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen h1 {
    font-size: 28px;
    margin-top: 345px;
    margin-left: 80px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen ul {
    padding: 10px 10px;
    color: #fff;
    font-weight: bold;
    padding-top: 345px;
    margin-left: 100px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen p {
    margin-left: 80px;
  }
  .middle-section .big-centr-content .centr-content .slider h6 {
    left: 55%;
    font-size: 12px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li {
    width: 150px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info p {
    font-size: 12px;
  }
  .middle-section .big-centr-content .centr-content .slider h3 {
    left: 30px;
    margin-bottom: 10px;
  }
  .middle-section .big-centr-content .centr-right-block {
    width: 40%;
  }
  .middle-section .big-centr-content .centr-right-block h1 {
    font-size: 16px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl {
    height: 160px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide img {
    width: 100px;
    height: auto;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 {
    font-size: 12px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 a {
    font-size: 13px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h4 a {
    font-size: 13px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p {
    font-size: 12px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p a {
    font-size: 12px;
  }
  .middle-section .big-centr-content .centr-right-block .after-right-slider h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date {
    margin-top: 7px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h3 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info a {
    font-size: 13px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info p {
    font-size: 13px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1220px) {
  .middle-section .big-centr-content .centr-right-block {
    width: 35%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1127px) {
  .green-section {
    height: 50px;
  }
  .green-section .drop-menu {
    font-family: sans-serif;
  }
  .green-section .drop-menu #container {
    position: absolute;
    top: 0px;
    width: 66%;
    margin: 0 auto;
    right: 10px;
  }
  .green-section .drop-menu #container .nav a {
    font-size: 14px;
    padding: 10px 10px;
    color: #fff;
    text-align: center;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight h3 {
    padding-left: 150px;
    font-size: 20px;
    width: 45%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight p {
    padding-left: 170px;
    width: 60%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight ul {
    padding-left: 150px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen {
    right: -55%;
    top: -13px;
    width: 270px;
    height: 403px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen h1 {
    font-size: 28px;
    margin-top: 325px;
    margin-left: 65px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen ul {
    padding: 10px 10px;
    color: #fff;
    font-weight: bold;
    padding-top: 325px;
    margin-left: 90px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen p {
    margin-left: 70px;
  }
  .middle-section .big-centr-content .centr-content .slider h6 {
    left: 55%;
    font-size: 10px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text {
    padding-left: 10px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li {
    width: 100%;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info {
    margin: 0;
    padding: 0;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info img {
    padding: 10px;
    width: 30px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info p {
    font-size: 12px;
  }
  .middle-section .big-centr-content .centr-content .slider h3 {
    left: 30px;
    margin-bottom: 10px;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider {
    float: none;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider2 {
    float: none;
    padding: 10px 0 10px 40px;
  }
  .middle-section .big-centr-content .left-block {
    width: 100%;
  }
  .middle-section .big-centr-content .left-block .container {
    width: 94%;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt ul {
    margin-top: -5px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt ul li {
    margin-left: 10px;
    display: inline-block;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt ul li p {
    padding-bottom: 5px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt ul li h5 {
    padding-bottom: 5px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt h4 {
    text-align: right;
  }
  .middle-section .big-centr-content .centr-right-block {
    width: 90%;
  }
  .middle-section .big-centr-content .centr-right-block h1 {
    font-size: 26px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl {
    height: 170px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide img {
    width: 100px;
    height: auto;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 {
    font-size: 22px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 a {
    font-size: 23px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h4 a {
    font-size: 23px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p {
    font-size: 22px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p a {
    font-size: 18px;
  }
  .middle-section .big-centr-content .centr-right-block .after-right-slider h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date {
    margin-top: 7px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h3 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info a {
    font-size: 13px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info p {
    font-size: 13px;
  }
}
@media screen and (min-width: 740px) and (max-width: 900px) {
  .top-wrapper {
    padding-bottom: 60px;
  }
  .top-wrapper .top-size {
    width: 82.5%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .top-wrapper .top-size .top-menu .logo {
    padding-top: 10px;
    margin-left: 38%;
    float: left;
  }
  .top-wrapper .top-size .top-menu .top-nav-site {
    margin-right: 10%;
  }
  .top-wrapper .top-size .top-menu .top-nav-site .top-button {
    margin-top: 20px;
    margin-left: 70px;
  }
  .green-section {
    height: 40px;
    background-color: #11a76a;
    background-image: none;
  }
  .green-section .drop-menu {
    font-family: sans-serif;
  }
  .green-section .drop-menu #container {
    top: 0px;
    right: 0px;
    width: 100%;
    margin: 0 auto;
  }
  .green-section .drop-menu #container .containerdrop {
    margin-top: 0;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight {
    height: 200px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight h3 {
    padding-left: 120px;
    font-size: 12px;
    width: 45%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight p {
    padding-left: 120px;
    font-size: 12px;
    line-height: 12px;
    width: 60%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight ul {
    padding-left: 170px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man {
    height: 250px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen {
    right: -55%;
    top: 15px;
    width: 210px;
    height: 293px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen h1 {
    font-size: 25px;
    margin-top: 245px;
    margin-left: 65px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen ul {
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding-top: 245px;
    margin-left: 80px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen p {
    margin-left: 60px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man .mr-deen p a {
    font-size: 10px;
  }
  .middle-section .big-centr-content .centr-content .slider h6 {
    left: 55%;
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text {
    padding-left: 5px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li {
    width: 150%;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li h5 {
    font-size: 10px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li h5 a {
    font-size: 10px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info {
    margin: 0;
    padding: 0;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info img {
    padding: 0 5px 0 1px;
    width: 35px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info p {
    font-size: 10px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info h4 {
    font-size: 10px;
  }
  .middle-section .big-centr-content .centr-content .slider h3 {
    left: 30px;
    margin-bottom: 10px;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider {
    float: none;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider2 {
    float: none;
    padding: 10px 0 10px 40px;
  }
  .middle-section .big-centr-content .left-block {
    width: 100%;
  }
  .middle-section .big-centr-content .left-block .container {
    width: 90%;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt ul {
    margin-top: 0px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt ul li {
    margin-left: 0px;
    display: block;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt ul li p {
    padding-bottom: 0px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt ul li h5 {
    padding-bottom: 0px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt h4 {
    text-align: right;
  }
  .middle-section .big-centr-content .centr-right-block {
    width: 90%;
  }
  .middle-section .big-centr-content .centr-right-block h1 {
    font-size: 18px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl {
    height: 180px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide img {
    width: 100px;
    height: auto;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 {
    font-size: 16px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 a {
    font-size: 17px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h4 a {
    font-size: 17px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p {
    font-size: 16px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p a {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-right-block .after-right-slider h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date {
    margin-top: 7px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h3 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info a {
    font-size: 13px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info p {
    font-size: 13px;
  }
}
@media screen and (min-width: 580px) and (max-width: 740px) {
  .top-wrapper {
    padding-bottom: 60px;
  }
  .top-wrapper .top-size {
    width: 82.5%;
    max-width: 1100px;
    margin: 0 auto;
    margin-left: 12%;
  }
  .top-wrapper .top-size .top-menu .logo {
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 0%;
    float: none;
    text-align: center;
  }
  .top-wrapper .top-size .top-menu .top-nav-site {
    margin-right: 0;
    float: left;
    text-align: center;
  }
  .top-wrapper .top-size .top-menu .top-nav-site .top-button {
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }
  .green-section {
    height: 40px;
    background-color: #11a76a;
    background-image: none;
  }
  .green-section .drop-menu {
    font-family: sans-serif;
  }
  .green-section .drop-menu #container {
    top: 0px;
    right: 0px;
    width: 100%;
    margin: 0 auto;
  }
  .green-section .drop-menu #container .containerdrop {
    margin-top: 0;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen {
    width: 100%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight {
    height: 200px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight h3 {
    padding-left: 35%;
    font-size: 16px;
    width: 45%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight p {
    padding-left: 35%;
    font-size: 12px;
    line-height: 12px;
    width: 50%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight ul {
    padding-left: 280px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man {
    display: none;
  }
  .middle-section .big-centr-content .centr-content .slider h6 {
    left: 5%;
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text {
    padding-left: 1px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li {
    width: 100%;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li h5 {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li h5 a {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li p {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info {
    margin: 0;
    padding: 0;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info img {
    padding: 0 1px 0 1px;
    width: 25px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info p {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info h4 {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider h3 {
    left: 30px;
    margin-bottom: 10px;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider {
    float: none;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider h1 {
    font-size: 18px;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider2 {
    float: none;
    padding: 10px 0 10px 40px;
  }
  .middle-section .big-centr-content .left-block {
    width: 100%;
  }
  .middle-section .big-centr-content .left-block .container {
    width: 90%;
  }
  .middle-section .big-centr-content .left-block .container .statistic ul li {
    font-size: 14px;
  }
  .middle-section .big-centr-content .left-block .container .statistic ul li a {
    font-size: 12px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a {
    margin: 0px;
    padding: 15px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a img {
    width: 30px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a ul li h3 {
    font-size: 12px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a ul li p {
    font-size: 10px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a ul li h5 {
    font-size: 10px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a h4 {
    padding-top: 8px;
    font-size: 22px;
  }
  .middle-section .big-centr-content .centr-right-block {
    width: 90%;
  }
  .middle-section .big-centr-content .centr-right-block h1 {
    font-size: 18px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl {
    height: 180px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide img {
    width: 100px;
    height: auto;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 {
    font-size: 16px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 a {
    font-size: 17px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h4 a {
    font-size: 17px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p {
    font-size: 16px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p a {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-right-block .after-right-slider h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date {
    margin-top: 7px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h3 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info a {
    font-size: 13px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info p {
    font-size: 13px;
  }
}
@media screen and (min-width: 319px) and (max-width: 580px) {
  .top-wrapper {
    padding-bottom: 60px;
  }
  .top-wrapper .top-size {
    width: 82.5%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .top-wrapper .top-size .top-menu .logo {
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 0%;
    float: none;
    text-align: center;
  }
  .top-wrapper .top-size .top-menu .top-nav-site {
    margin-right: 0%;
    float: none;
  }
  .top-wrapper .top-size .top-menu .top-nav-site ul li {
    display: block;
    float: none;
    display: none;
  }
  .top-wrapper .top-size .top-menu .top-nav-site .top-button {
    margin-top: -10px;
    margin-left: 0%;
    margin-left: 0px;
  }
  .top-wrapper .top-size .top-menu .top-nav-site .top-button li {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .green-section {
    height: 40px;
    background-color: #11a76a;
    background-image: none;
  }
  .green-section .drop-menu {
    font-family: sans-serif;
  }
  .green-section .drop-menu #container {
    top: 0px;
    right: 0px;
    width: 100%;
    margin: 0 auto;
  }
  .green-section .drop-menu #container .containerdrop {
    margin-top: 0;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen {
    width: 100%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen img {
    padding: 10px 20px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight {
    height: 200px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight h3 {
    padding-left: 40%;
    font-size: 16px;
    width: 60%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight p {
    padding-left: 40%;
    font-size: 12px;
    line-height: 12px;
    width: 55%;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .gen .lost-weight ul {
    margin-top: -20px;
    padding-left: 150px;
    margin-top: 5px;
  }
  .middle-section .big-centr-content .centr-content .logo-gen .fat-man {
    display: none;
  }
  .middle-section .big-centr-content .centr-content .slider h6 {
    left: 5%;
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text {
    padding-left: 1px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li {
    width: 100%;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li h5 {
    font-size: 12px;
    width: 45px;
    overflow: hidden;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li h5 a {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .sl__text ul li p {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info {
    margin: 0;
    padding: 0;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info img {
    padding: 0 3px 3px 1px;
    border-radius: 5px;
    width: 18px;
    height: 35px;
    vertical-align: top;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info p {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider .main .sl .sl__slide .info h4 {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-content .slider h3 {
    font-size: 10px;
    left: 20px;
    margin-bottom: 10px;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider {
    float: none;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider h1 {
    font-size: 18px;
  }
  .middle-section .big-centr-content .centr-content .challenge .text-after-slider2 {
    float: none;
    padding: 10px 0 10px 40px;
  }
  .middle-section .big-centr-content .left-block {
    width: 100%;
  }
  .middle-section .big-centr-content .left-block .container {
    padding: 0;
    width: 90%;
  }
  .middle-section .big-centr-content .left-block .container .statistic ul li {
    font-size: 10px;
  }
  .middle-section .big-centr-content .left-block .container .statistic ul li a {
    font-size: 8px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a {
    margin: 0px;
    padding: 15px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a img {
    width: 20px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a ul {
    margin-top: -10px;
    padding: 0;
    width: 130px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a ul li h3 {
    font-size: 10px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a ul li p {
    font-size: 8px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a ul li h5 {
    font-size: 8px;
  }
  .middle-section .big-centr-content .left-block .container .accordion dl dt a h4 {
    padding-top: 12px;
    font-size: 16px;
    margin-left: 60%;
    width: 30%;
  }
  .middle-section .big-centr-content .text-after-acc {
    width: 100%;
  }
  .middle-section .big-centr-content .text-after-acc h1 {
    font-family: "Gotham", sans-serif;
    color: #636363;
    margin: 15px;
    padding-left: 25px;
    font-size: 24px;
    width: 70%;
    line-height: 26px;
  }
  .middle-section .big-centr-content .text-after-acc .under-accord h4 {
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    width: 250px;
    color: #2e835b;
  }
  .middle-section .big-centr-content .text-after-acc .under-accord h5 {
    padding-left: 40px;
    font-size: 12px;
    width: 80% !important;
    color: #6e6e6e;
    font-weight: 600;
  }
  .middle-section .big-centr-content .text-after-acc .under-accord p {
    padding: 3px 0 0 40px;
    font-size: 12px;
  }
  .middle-section .big-centr-content .text-after-acc .under-accord2 {
    float: left;
    width: 250px;
    font-family: sans-serif;
  }
  .middle-section .big-centr-content .text-after-acc .under-accord2 h1 {
    font-family: "Gotham", sans-serif;
    color: #636363;
    margin: 15px;
    padding-left: 25px;
    font-size: 24px;
    width: 50%;
    line-height: 26px;
  }
  .middle-section .big-centr-content .text-after-acc .under-accord2 h4 {
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    width: 250px;
    color: #2e835b;
  }
  .middle-section .big-centr-content .text-after-acc .under-accord2 h5 {
    padding-left: 40px;
    font-size: 12px;
    width: 80%;
    color: #6e6e6e;
    font-weight: 600;
  }
  .middle-section .big-centr-content .centr-right-block {
    width: 90%;
    padding: 10px;
  }
  .middle-section .big-centr-content .centr-right-block h1 {
    font-size: 12px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl {
    height: 180px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide img {
    width: 100px;
    height: auto;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 {
    font-size: 10px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h3 a {
    font-size: 11px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text h4 a {
    font-size: 11px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p {
    font-size: 10px;
  }
  .middle-section .big-centr-content .centr-right-block .box-sl .sl6 .sl6__slide .sl6__text p a {
    font-size: 8px;
  }
  .middle-section .big-centr-content .centr-right-block .after-right-slider h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date {
    margin-top: 7px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h3 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date h2 {
    font-size: 14px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info a {
    font-size: 13px;
  }
  .middle-section .big-centr-content .centr-right-block .local-event .date-info p {
    font-size: 13px;
  }
  .footer ul li {
    float: none;
  }
}
@media screen and (min-width: 319px) and (max-width: 386px) {
  .accordion dl dt a {
    margin: 0px;
    padding: 15px;
  }
  .accordion dl dt a img {
    margin-right: 10px;
    width: 35px !important;
  }
  .accordion dl dt a ul {
    margin-top: -10px;
    padding: 0;
    width: 170px !important;
    float: none !important;
  }
  .accordion dl dt a ul li h3 {
    font-size: 10px;
  }
  .accordion dl dt a ul li p {
    font-size: 8px;
  }
  .accordion dl dt a ul li h5 {
    font-size: 8px;
    margin-left: 0px;
  }
  .accordion dl dt a h4 {
    margin-left: 50%;
    display: none;
  }
}
