
a{
  text-decoration: none;
}

.box-sl {
	width: 220px;
	height: 480px;
	background: #223f55;
	font-family: 'Ubuntu', sans-serif;
	margin-top: -10px;
	margin-left: 10px; 
	
}
.box-sl h1{
	padding: 10px;
}
.fig {
	width: 10px;
	height: 30px;
	background: #00aaef;
	display: inline-block;
	margin-top: 25px;
	border: 1px solid;
}

.box-sl h3 {
	// position: absolute;
	display: inline;
	font-size: 22px;
	color: white;
	letter-spacing: -1px;
}


.main {
	// margin: 0 15px 0 25px;
	width: 215px;
	// height: 350px;
	
}

/* Стили для сладера */

.sl6__img {
	border: 5px solid #4d6682;
	display: inline;
	width: 210px;
	height: 250px;
}

.sl6__slide {
	margin: 15px;
	background: #2b485b;

}

.sl6__text {
	color: #fff;
	text-align: center;
	border: 5px solid #2b485b;
	background: #2b485b;
	// width: 100%;
	height: 50px;
}

.sl6__zag, .sl6__desc {
}

/*Адаптивность картинок и видео*/
img{
  // max-width: 100%;
  width: 200px ;
  height: auto;
}

.vidres{
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.vidres iframe, .vidres embed, .vidres object{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*Используется для центрирования контента*/
.mid{
  max-width: 1350px; /*Укажите своё значение*/
  margin: 0 auto;
}

/*Колонки - задаём свои, если чего то не хватает
  по умолчанию используется расстояние в 4% между колонками*/
.col25, .col33, .col50{
  float: left;
  margin: 0 4% 0 0;
}

.col25{ /*4 в ряд*/
  width: 22%;
}

.col33{ /*3 в ряд*/
  width: 30.6666666%;
}

.col50{ /*2 в ряд*/
  width: 48%;
}

.col25:last-child,
.col33:last-child,
.col50:last-child{
  margin: 0;
}

/*Очистка обтекания*/
.mid:before, .cf:before, .mid:after, .cf:after{
  content: " ";
  display: table;
}
.mid:after, .cf:after{
  clear: both;
}

/*Адаптивность*/

// @media (min-width: 1200px) {
// img { width:auto; }
// .slick-slide img { width:100%; }